body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.page {
    width: 1280px; 
}

.hero > div {
    background-image: linear-gradient(rgba(255,255,255,0) 25%, var(--primary-color));
}
.hero > div > div > h1::after {
    background-color: var(--primary-color);
    clip-path: polygon(0 0,97% 0,100% 70%,0 100%);
    content: "";
    position: absolute;
    height: 2.24vw;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    left: 0;
}